apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-oul1
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ozdc-tenant/rhtap-demo-app/hacbs-test-project-oul1@sha256:04b03f6e9470afb83c9ed1ff0467901b4a63a7300badafafb883b14de2634d9c
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
